<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="SAP Concur App Landing Page Example" />
  <meta name="author" content="Henry Gu" />

  <title>Landing Page Demo</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
  <section class="title-section" id="title">
    <div class="container-fluid bg-failure">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <img class="company-logo" src="https://via.placeholder.com/100x100.png?text=LOGO" alt="logo" width="80"
          height="80" />
        <p class="navbar-brand" href="">Partner Company X</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section class="middle-section" id="main">
    <div class="container">
      <div class="card">
        <div class="card-header text-white bg-failure">Connect Failed</div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. At auctor urna nunc id cursus metus. Est
            velit egestas dui id ornare arcu odio ut sem.
          </p>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col">
              <input type="button" class="btn btn-primary bg-failure" style="font-weight: bold; display: inline"
                value="Close" onclick="javascript:window.close('','_parent','');" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-section" id="footer">
    <div class="copyright"><span>©2023 Partner Company X</span></div>
  </section>
</body>

</html>